/* EmployeeForm.css */
.form-container {
    background-color: #f1e2c6; /* Sandal background color */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  .form-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .employee-form .form-group {
    margin-bottom: 15px;
  }
  
  .employee-form .form-control {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #1c2fba;
    border: none;
    border-radius: 5px;
    color: white;
  }
  
  .submit-btn:hover {
    background-color: #1537b6;
  }
  
  @media (max-width: 768px) {
    .form-container {
      padding: 20px;
    }
    .submit-btn {
      font-size: 16px;
    }
  }
  