.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #666;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .submit-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 600px) {
    .login-container {
      padding: 15px;
    }
  
    h4 {
      font-size: 1.2em;
    }
  
    input {
      font-size: 0.9em;
    }
  
    .submit-btn {
      font-size: 0.9em;
    }
  }
  
  .password-input-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-input-container input {
    width: 100%;
    padding-right: 40px; /* Adjust padding to make room for the icon */
  }
  